
body {
    background-color: #141414 !important;
}

.view-section.active {
    display: block;
    opacity: 1;
    animation: fadeIn 0.6s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.movie-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: #1f1f1f;
    border: none;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(220, 53, 69, 0.4); 
    z-index: 10;
}

.movie-card img {
    height: 300px;
    object-fit: cover;
}

.backdrop-blur {
    backdrop-filter: blur(5px);
}

.lead{
    height: 200px;
}